.main-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 30px 0 70px;
  text-align: center;
}

.main-container > h1 {
  color: #f7931e;
  font-size: 2.5em;
}

.main-container > ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 30px;
}

.main-container > ul > li {
  display: flex;
  flex-direction: column;
  background: #FFF;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px 5px 2px 0 rgba(247, 147, 30, 0.6);
}

.main-container > ul > li:hover {
  transition: 0.3s;
  box-shadow: 7px 7px 2px 0 rgba(247, 147, 30, 0.6);
}

.main-container > ul > li > img {
  width: 50%;
  margin: 0 auto;
  border: 2px solid #f7931e;
  border-radius: 50%;
}

.main-container > ul > li > strong {
  padding-top: 15px;
  font-size: 1.7em;
  color: #333;
}

.main-container > ul > li > p {
  color: #777;
}